body
h1 {
    background-color: blue;
    text-align: center;
    color: goldenrod;
}
p {
    text-align: left;
}
strong {
    font-size: 30px;
}
body {
    background-color: azure;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-size: 100%;
    text-decoration: none;
}
.imagem2{
    text-align: center;
}
.imagem1{
    width: 25%;
}
h2{
    background-color: blue;
    color: goldenrod;
}
h3{
    background-color: blue;
    color: goldenrod;
}
.centralizar{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
}
